body{
    background-color: #9AB3B4;
  
  }
  
  h1{
    font-family: 'Alice', serif;
    color: #FDEEE6;
    width: 70%;
    font-weight: normal;
    margin-left: 70px;
    margin-top: 200px;
   
    
  }
  
  
  .t1{ 
      
      width: 0px;
      height: 00px;
      border-top: 130px solid #84ABB3;
      border-right: 130px solid transparent;
      position: fixed;
      top: 0;
      left: 0;
    
    
  }
  
  
  
  
  .t2{
    width: 0;
    height: 0;
    border-bottom: 200px solid #8babac;
    border-left: 200px solid transparent;
    position: fixed;
    bottom: 0;
    right: 0;
  
}

.t2:hover{
  color: #a9c4c5;
  border-bottom: 200px solid #babfbc;
  border-left: 200px solid transparent;
}
  
  
  .t1:hover{
      border-top: 130px solid #92b3bb;
      border-right: 130px solid transparent;
    
  }


  @media only screen and (max-width: 600px){
    h1 {
      font-size: 5vw;
     
    }
  }
  
